include ../_inc/_head.jade
extends ../_inc/_layout.jade

block body
	.container-small
		h1.margin-bottom-double Add New Partner
		form(method="post" action="/admin/partners")
			.form-group
				label Name
				input(type="text" name="name" placeholder="Name")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Title
				input(type="text" name="title" placeholder="Title")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Description
				textarea(name="description" rows="5" placeholder="Description")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Voucher Code
				input(type="text" name="code" placeholder="Voucher Code")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Website
				input(type="text" name="website" placeholder="Website")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Terms
				textarea(name="terms" rows="5" placeholder="Terms")
				.form-feedback.is-hidden= requiredMessage

			
			.form-group
				label Category
					select(name="category")
						each category in categories
							option(value="#{category.id}")= category.name

			input.button.button-primary.block(type="submit" name="submit")

	script.
		$('form').on('submit', function(event) {
			event.preventDefault();

			var dat = {};

			$(event.currentTarget).find('input, select, textarea').each(function()
			{
				dat[$(this).attr('name')] = $(this).val();
			});

			$.post($(event.currentTarget).attr('action'), dat)
			
			.done(function(data)
			{
				$(".alert").addClass("show").text("Company added!");
				$("form").trigger("reset");
				$(".form-feedback").addClass("is-hidden");
			})
			.fail(function(data)
			{
				$(".form-feedback").addClass("is-hidden");

				$.each(data.responseJSON, function(key, value) {
					$("[name="+Object.keys(value)[0]+"").next(".form-feedback").removeClass("is-hidden");
				});
			});
		});