include _inc/_head.jade
extends _inc/_layout.jade

block body
	script.
		$(document).ready(function() {
			$(".modal").modal({positionVertical: false});

			$(".tabbed-nav > li").on("click", function() {

				$(".tabbed-nav > li").removeClass("is-active");
				$(this).addClass("is-active");

				var selection = $(this).data("filter");
		
			});

			function filterItems(filter) {

				$(".deals > li").addClass("is-hidden");
				$(".deals > li[data-category='"+filter+"']").removeClass("is-hidden");
			}


			$(".tabbed-nav li").on('click', function() {
				var filter = $(this).data("filter");
				
				console.log(filter);
				if (filter == "all") {
					$(".deals > li").removeClass("is-hidden");
				}	

				else  {
					filterItems(filter);
				}
			});




			$("[data-deal]").on("click", function() {
				var test = $(this).data("deal");
				var headline = $(this).parents(".deal").find(".deal-title").text();
				//- alert(headline);
				$(".modal-deal-header").css({"background-image": "url(assets/images/partners/"+test+".jpg)"});

				$(".modal-deal h1").text(headline);

			});

		});



	.modal-backdrop.is-hidden


	.modal.is-hidden(id="login")
		.modal-close
		.modal-section
			h1.text-center.text-serif.weight-regular.margin-bottom-base Welcome Back
			form.margin-bottom-base
				.form-entry
					input(type="email" placeholder="Email Address")
				.form-entry
					input(type="password" placeholder="Password")
					.text-small.text-serif.margin-top-base.text-underline 
						a(href="#" class="link") Forgot your password?

				input.button.button-primary.button-block(type="submit" value="Login")

			
			.text-center.text-small.text-serif Don't have an account? <a href="#" class="link text-underline" data-modal="signup">Register</a>

			


	.modal.is-hidden(id="signup")
		.modal-close
		.modal-section.text-center
			h1.text-serif.weight-regular.margin-bottom-base Join The Club
			form.margin-bottom-base
				.form-entry
					input.form-required(type="text" placeholder="Full Name")
					.form-error-message.is-hidden This field is required.
				.form-entry
					input.form-required(type="email" placeholder="Email Address")
					.form-error-message.is-hidden This field is required.
				.form-entry
					input.form-required(type="password" placeholder="Password")
					.form-error-message.is-hidden This field is required.

				input.button.button-primary.button-block(type="submit" value="Join the club")

			p.text-small.text-serif We won't share your details with anyone.

	.modal.modal-deal.is-hidden(id="deal")
		.modal-close
		.modal-deal-header
		.modal-deal-form
			.modal-section.text-center
				h1.margin-bottom-base Get 10% off from AppleYard Flowers
				//- h1.text-serif.weight-regular.margin-bottom-base Join The Club
				form.margin-bottom-base
					.form-entry
						input(type="text" placeholder="Full Name")
					.form-entry
						input(type="email" placeholder="Email Address")
					.form-entry
						input(type="password" placeholder="Password")

					input.button.button-primary.button-block(type="submit" value="Join the club")

				p.text-small.text-serif We won't share your details with anyone.



	.masthead
		a.logo(href="#")
			img(src="#{images}logo.png")

		a.login-link(data-modal="login") Already registered? Login


		.masthead-inner
			h1.masthead-heading Make Your Home Awesome
			p.masthead-subheading Discover and save money on beautiful home goods, furniture and more.
			a.button.button-primary.button-medium.margin-bottom-half(href="#" data-modal="signup") Get Your Card Now
			//- .text-small.text-muted It's completely free!

			img.masthead-card(src="#{images}card.png")


	section.landing-page-section
		.container-x-large

			ul.tabbed-nav
				li.is-active(data-filter="all")
					a All
				each category in categories
					li(data-filter="#{category}")
						a= category.name



			ul.deals
				each partner in partners
					li(data-category="#{partner.tags}")
						.deal
							.deal-photo(style="background-image: url(#{images}partners/#{partner.backgroundImage}.jpg)")
								.deal-tag= partner.tags
							.deal-content
								h2.deal-title= partner.title
								p.deal-supplier= partner.name
								p.deal-description= partner.description
								a(href="#" data-deal="#{partner.backgroundImage}" data-modal="deal").button.button-empty.button-small.button-block Claim Discount


	.signup-bar
		.container-large.clearfix
			p.signup-bar-text.text-medium Sign up now to access exclusive discounts with the leading homeware stores – it’s free!
			a.signup-bar-button.button.button-secondary.button-medium Join Now