include ../_inc/_head.jade
extends ../_inc/_layout.jade

block body
	.container-small
		h1.margin-bottom-double Add New Partner
		form(method="post" action="/partner/new")
			.form-group
				label Name
				input(type="text" name="name" placeholder="Name")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Title
				input(type="text" name="title" placeholder="Title")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Description
				textarea(name="description" rows="5" placeholder="Description")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Voucher Code
				input(type="text" name="code" placeholder="Voucher Code")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Website
				input(type="text" name="website" placeholder="Website")
				.form-feedback.is-hidden= requiredMessage

			.form-group
				label Terms
				textarea(name="terms" rows="5" placeholder="Terms")
				.form-feedback.is-hidden= requiredMessage

			
			.form-group
				h4 Categories
					each category in categories
						label
							input(type="checkbox" name="category-#{category.id}")
							= category.name
					
			input.button.button-primary.block(type="submit" name="submit")

	script.
		$('form').ajaxForm();